<div class="weather-container">
  <h2>Weather Forecast for {{ nameCity$ | async }}</h2>
  <div class="weather-cards">
    @for (day of (weatherData$ | async)?.list; track $index) {
    <div class="weather-card">
      <h3>{{ day.dt | formatDate }}</h3>
      <img
        [src]="day.weather[0].icon | getIcon"
        [alt]="day.weather[0].description"
      />
      <p>{{ day.weather[0].description | titlecase }}</p>
      <p>Day Temp: {{ day.temp.day | number : "1.0-0" }}°C</p>
      <p>Night Temp: {{ day.temp.night | number : "1.0-0" }}°C</p>
      <p>Humidity: {{ day.humidity }}%</p>
      <p>Rain: {{ day.rain || 0 }} mm</p>
    </div>
    }
  </div>
</div>
