<mat-form-field class="search-input">
  <mat-label>City</mat-label>
  <input
    matInput
    aria-label="City"
    [matAutocomplete]="auto"
    [formControl]="city"
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (city of (cities$ | async)?.list; track city) {
    <mat-option [value]="city" (onSelectionChange)="selection($event)">
      <span>{{ city.name }}</span> |
    </mat-option>
    } @if (error) {
    <mat-option>
      {{ error }}
    </mat-option>
    } @else if ( (cities$ | async)?.count === 0 ) {
    <mat-option>
      <p>Couldn't find this one</p>
    </mat-option>

    }
  </mat-autocomplete>
</mat-form-field>
